<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-permission-heading"
        data-cy="PermissionCreateUpdateHeading"
        jhiTranslate="leavesTechExamApp.permission.home.createOrEditLabel"
      >
        Create or edit a Permission
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="leavesTechExamApp.permission.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let keyRef = editForm.get('key')!;
        <div class="mb-3">
          <label class="form-label" for="field_key" jhiTranslate="leavesTechExamApp.permission.key">Key</label>
          <input type="text" class="form-control" name="key" id="field_key" data-cy="key" formControlName="key" />
          @if (keyRef.invalid && (keyRef.dirty || keyRef.touched)) {
            <div>
              @if (editForm.get('key')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_description" jhiTranslate="leavesTechExamApp.permission.description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_category" jhiTranslate="leavesTechExamApp.permission.category">Category</label>
          <select class="form-control" name="category" formControlName="category" id="field_category" data-cy="category">
            <option [ngValue]="null">{{ 'leavesTechExamApp.PermissionCategory.null' | translate }}</option>
            @for (permissionCategory of permissionCategoryValues; track $index) {
              <option [value]="permissionCategory">{{ 'leavesTechExamApp.PermissionCategory.' + permissionCategory | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label for="field_roles" jhiTranslate="leavesTechExamApp.permission.roles">Roles</label>
          <select
            class="form-control"
            id="field_roles"
            data-cy="roles"
            multiple
            name="roles"
            formControlName="roles"
            [compareWith]="compareRole"
          >
            @for (roleOption of rolesSharedCollection; track $index) {
              <option [ngValue]="roleOption">{{ roleOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
