<div>
  <h2 id="page-heading" data-cy="AuthUserHeading">
    <span jhiTranslate="leavesTechExamApp.authUser.home.title">Auth Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="leavesTechExamApp.authUser.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-auth-user"
        [routerLink]="['/auth-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="leavesTechExamApp.authUser.home.createLabel">Create a new Auth User</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (authUsers().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="leavesTechExamApp.authUser.home.notFound">No Auth Users found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="username">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.username">Username</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="email">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.email">Email</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="phoneNumber">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.phoneNumber">Phone Number</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="firstName">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.firstName">First Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastName">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.lastName">Last Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="password">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.password">Password</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="enabled">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.enabled">Enabled</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="userType">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.userType">User Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="roles.id">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.authUser.roles">Roles</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (authUser of authUsers(); track trackId(authUser)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/auth-user', authUser.id, 'view']">{{ authUser.id }}</a>
              </td>
              <td>{{ authUser.username }}</td>
              <td>{{ authUser.email }}</td>
              <td>{{ authUser.phoneNumber }}</td>
              <td>{{ authUser.firstName }}</td>
              <td>{{ authUser.lastName }}</td>
              <td>{{ authUser.password }}</td>
              <td>{{ authUser.enabled }}</td>
              <td [jhiTranslate]="'leavesTechExamApp.UserType.' + (authUser.userType ?? 'null')">
                {{ { null: '', STUDENT: 'STUDENT', TEACHER: 'TEACHER', ADMIN: 'ADMIN' }[authUser.userType ?? 'null'] }}
              </td>
              <td>
                @for (roles of authUser.roles; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/role', roles.id, 'view']">{{ roles.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/auth-user', authUser.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/auth-user', authUser.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(authUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
