<div>
  <h2 id="page-heading" data-cy="RoleHeading">
    <span jhiTranslate="leavesTechExamApp.role.home.title">Roles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="leavesTechExamApp.role.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-role"
        [routerLink]="['/role/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="leavesTechExamApp.role.home.createLabel">Create a new Role</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (roles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="leavesTechExamApp.role.home.notFound">No Roles found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.role.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.role.description">Description</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="permissions.id">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.role.permissions">Permissions</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="users.id">
              <div class="d-flex">
                <span jhiTranslate="leavesTechExamApp.role.users">Users</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (role of roles(); track trackId(role)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/role', role.id, 'view']">{{ role.id }}</a>
              </td>
              <td>{{ role.name }}</td>
              <td>{{ role.description }}</td>
              <td>
                @for (permissions of role.permissions; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/permission', permissions.id, 'view']">{{ permissions.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td>
                @for (users of role.users; track $index; let last = $last) {
                  <span>
                    <a class="form-control-static" [routerLink]="['/auth-user', users.id, 'view']">{{ users.id }}</a
                    >{{ last ? '' : ', ' }}
                  </span>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/role', role.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a [routerLink]="['/role', role.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(role)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
