<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-course-heading" data-cy="CourseCreateUpdateHeading" jhiTranslate="leavesTechExamApp.course.home.createOrEditLabel">
        Create or edit a Course
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="leavesTechExamApp.course.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeRef = editForm.get('code')!;
        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="leavesTechExamApp.course.code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="leavesTechExamApp.course.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let termRef = editForm.get('term')!;
        <div class="mb-3">
          <label class="form-label" for="field_term" jhiTranslate="leavesTechExamApp.course.term">Term</label>
          <input type="text" class="form-control" name="term" id="field_term" data-cy="term" formControlName="term" />
          @if (termRef.invalid && (termRef.dirty || termRef.touched)) {
            <div>
              @if (editForm.get('term')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_owner" jhiTranslate="leavesTechExamApp.course.owner">Owner</label>
          <select class="form-control" id="field_owner" data-cy="owner" name="owner" formControlName="owner" [compareWith]="compareTeacher">
            @if (!editForm.get('owner')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (teacherOption of teachersSharedCollection; track $index) {
              <option [ngValue]="teacherOption">{{ teacherOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['owner'])!.invalid && (editForm.get(['owner'])!.dirty || editForm.get(['owner'])!.touched)) {
          <div>
            @if (editForm.get(['owner'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_department" jhiTranslate="leavesTechExamApp.course.department">Department</label>
          <select
            class="form-control"
            id="field_department"
            data-cy="department"
            name="department"
            formControlName="department"
            [compareWith]="compareDepartment"
          >
            <option [ngValue]="null"></option>
            @for (departmentOption of departmentsSharedCollection; track $index) {
              <option [ngValue]="departmentOption">{{ departmentOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
