<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (submission(); as submissionRef) {
      <div>
        <h2 data-cy="submissionDetailsHeading"><span jhiTranslate="leavesTechExamApp.submission.detail.title">Submission</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ submissionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.submittedCode">Submitted Code</span></dt>
          <dd>
            <span>{{ submissionRef.submittedCode }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.score">Score</span></dt>
          <dd>
            <span>{{ submissionRef.score }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'leavesTechExamApp.SubmissionStatus.' + (submissionRef.status ?? 'null')">{{
              { null: '', PENDING: 'PENDING', PASSED: 'PASSED', FAILED: 'FAILED' }[submissionRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.submissionDate">Submission Date</span></dt>
          <dd>
            <span>{{ submissionRef.submissionDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.student">Student</span></dt>
          <dd>
            @if (submission()!.student) {
              <div>
                <a [routerLink]="['/student', submission()!.student?.id, 'view']">{{ submissionRef.student?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.question">Question</span></dt>
          <dd>
            @if (submission()!.question) {
              <div>
                <a [routerLink]="['/coding-question', submission()!.question?.id, 'view']">{{ submissionRef.question?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.submission.exam">Exam</span></dt>
          <dd>
            @if (submission()!.exam) {
              <div>
                <a [routerLink]="['/exam', submission()!.exam?.id, 'view']">{{ submissionRef.exam?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/submission', submissionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
