<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (codingQuestion(); as codingQuestionRef) {
      <div>
        <h2 data-cy="codingQuestionDetailsHeading">
          <span jhiTranslate="leavesTechExamApp.codingQuestion.detail.title">Coding Question</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ codingQuestionRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.title">Title</span></dt>
          <dd>
            <span>{{ codingQuestionRef.title }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.description">Description</span></dt>
          <dd>
            <span>{{ codingQuestionRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.maxScore">Max Score</span></dt>
          <dd>
            <span>{{ codingQuestionRef.maxScore }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.starterCode">Starter Code</span></dt>
          <dd>
            <span>{{ codingQuestionRef.starterCode }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.language">Language</span></dt>
          <dd>
            <span [jhiTranslate]="'leavesTechExamApp.ProgrammingLanguage.' + (codingQuestionRef.language ?? 'null')">{{
              { null: '', C: 'C', JAVA: 'JAVA', PYTHON: 'PYTHON', CPP: 'CPP', JAVASCRIPT: 'JAVASCRIPT' }[
                codingQuestionRef.language ?? 'null'
              ]
            }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.codingQuestion.exams">Exams</span></dt>
          <dd>
            @for (exams of codingQuestionRef.exams; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/exam', exams.id, 'view']">{{ exams?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/coding-question', codingQuestionRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
