<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (courseEnrollment(); as courseEnrollmentRef) {
      <div>
        <h2 data-cy="courseEnrollmentDetailsHeading">
          <span jhiTranslate="leavesTechExamApp.courseEnrollment.detail.title">Course Enrollment</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ courseEnrollmentRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.courseEnrollment.status">Status</span></dt>
          <dd>
            <span [jhiTranslate]="'leavesTechExamApp.EnrollmentStatus.' + (courseEnrollmentRef.status ?? 'null')">{{
              { null: '', ACTIVE: 'ACTIVE', DROPPED: 'DROPPED', COMPLETED: 'COMPLETED' }[courseEnrollmentRef.status ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.courseEnrollment.course">Course</span></dt>
          <dd>
            @if (courseEnrollment()!.course) {
              <div>
                <a [routerLink]="['/course', courseEnrollment()!.course?.id, 'view']">{{ courseEnrollmentRef.course?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.courseEnrollment.student">Student</span></dt>
          <dd>
            @if (courseEnrollment()!.student) {
              <div>
                <a [routerLink]="['/student', courseEnrollment()!.student?.id, 'view']">{{ courseEnrollmentRef.student?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/course-enrollment', courseEnrollmentRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
