<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (authUser(); as authUserRef) {
      <div>
        <h2 data-cy="authUserDetailsHeading"><span jhiTranslate="leavesTechExamApp.authUser.detail.title">Auth User</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ authUserRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.username">Username</span></dt>
          <dd>
            <span>{{ authUserRef.username }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.email">Email</span></dt>
          <dd>
            <span>{{ authUserRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.phoneNumber">Phone Number</span></dt>
          <dd>
            <span>{{ authUserRef.phoneNumber }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.firstName">First Name</span></dt>
          <dd>
            <span>{{ authUserRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.lastName">Last Name</span></dt>
          <dd>
            <span>{{ authUserRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.password">Password</span></dt>
          <dd>
            <span>{{ authUserRef.password }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.enabled">Enabled</span></dt>
          <dd>
            <span>{{ authUserRef.enabled }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.userType">User Type</span></dt>
          <dd>
            <span [jhiTranslate]="'leavesTechExamApp.UserType.' + (authUserRef.userType ?? 'null')">{{
              { null: '', STUDENT: 'STUDENT', TEACHER: 'TEACHER', ADMIN: 'ADMIN' }[authUserRef.userType ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="leavesTechExamApp.authUser.roles">Roles</span></dt>
          <dd>
            @for (roles of authUserRef.roles; track $index; let last = $last) {
              <span>
                <a [routerLink]="['/role', roles.id, 'view']">{{ roles?.id }}</a
                >{{ last ? '' : ', ' }}
              </span>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/auth-user', authUserRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
